---
- name: Install Nginx
  apt:
    name: nginx
    state: present

- name: Remove default Nginx config
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent

- name: Copy App Nginx Config
  template:
    src: app.conf.j2
    dest: /etc/nginx/sites-available/app.conf
  notify: Restart Nginx

- name: Enable App Nginx Config
  file:
    src: /etc/nginx/sites-available/app.conf
    dest: /etc/nginx/sites-enabled/app.conf
    state: link
  notify: Restart Nginx

- name: Ensure Nginx is running
  service:
    name: nginx
    state: started
    enabled: yes

- name: Allow OpenSSH in UFW
  ufw:
    rule: allow
    name: OpenSSH

- name: Allow Nginx HTTP/HTTPS in UFW
  ufw:
    rule: allow
    name: 'Nginx Full'
    state: enabled
  ignore_errors: yes  